@model iiifly.Models.ImageSetWrapper

@using iiifly.Models
@{
    ViewBag.Title = "Image Set | " + Model.ImageSet.Label + " | " + Model.ImageSet.Id;
}

@if (Model.IsFinished())
{
    if (Model.Images.Count == 1)
    {
        // render OSD
        <div class="jumbotron">
            <div id="osd" class="openseadragon"></div>

            <script type="text/javascript" src="/Scripts/openseadragon/openseadragon.js"></script>
            <script>
                var viewer1 = OpenSeadragon({
                    id: "osd",
                    prefixUrl: "/Scripts/openseadragon/images/",
                    tileSources: "@Model.Images[0].InfoJson",
                    showNavigator: true
                });
            </script>
        </div>
    }
    else if (Model.Images.Count > 1)
    {
        // render UV
        <div class="jumbotron">
            <div class="uv" data-uri="@Model.ProxyManifest" style="width:100%; height:700px; background-color: #000"></div>
            <script type="text/javascript" id="embedUV" src="/Scripts/uv-1.6.14/lib/embed.js"></script>
        </div>
    }
    else
    {
        <div class="jumbotron">
            <p class="has-error">There are no images in this set.</p>
        </div>
    }
}
else
{
    // render status of images
    <div class="row">
        <h3>Your images are still processing...</h3>
        <table class="table">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Queued</th>
                <th>Dequeued</th>
                <th>Finished</th>
            </tr>

            @foreach (var image in Model.Images)
            {
                <tr>
                    <td>
                        @if (image.Finished.HasValue)
                        {
                            <img src="@image.Thumbnail400" />
                        }
                    </td>
                    <td>@image.ModelId</td>
                    <td>@image.Queued</td>
                    <td>@image.Dequeued</td>
                    <td>@image.Finished</td>
                </tr>
            }

        </table>
    </div>
}

@section scripts {

}