@model iiifly.Models.SpaceMapping

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SpaceMapping</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DlcsSpace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DlcsSpace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpaceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpaceId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SpaceMappingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
