@using iiifly.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - iiif.ly</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/dropzonecss")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("iiif.ly", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li><a href="/display/ImageSet">Recent additions</a></li>
                    @if (User != null && User.IsInRole("canCallDlcs"))
                    {
                        <li>@Html.ActionLink("My stuff", "ImageSet", "Display", new {userPublicPath = User.GetPublicPath(), id = string.Empty}, new {})</li>
                    }
                    @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    @if (User != null && User.IsInRole("canApproveUsers"))
                    {
                        <li>@Html.ActionLink("Users", "Index", "UserAdmin")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - iiif.ly</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dropzonescripts")
    @RenderSection("scripts", required: false)
</body>
</html>
